---
import Layout from '../layouts/Layout.astro';
import type { Entry } from '@cms/payload-types';
import EntriesComponent from '../components/Entries.astro';
import { CMS_API } from 'astro:env/server';

const response = await fetch(`${CMS_API}/api/entries?limit=100&sort=createdAt:desc`, {
	method: 'GET',
	headers: {
		'Content-Type': 'application/json',
		'x-access-token': '12345',
	},
});

let entries: Entry[] = [];
try {
	const data = await response.json();
	entries = data?.docs;
} catch (error) {
	console.error('Failed to fetch entries:', error);
}
---

<Layout>
    <h1 class="text-4xl font-bold text-purple-300 pt-4 pl-8">Entries</h1>
	
	<EntriesComponent entries={entries} />
</Layout>
