---
import type { Nav, Page } from '@cms/payload-types';
import { CMS_API } from 'astro:env/server';

const response = await fetch(`${CMS_API}/api/globals/nav`, {
	method: 'GET',
	headers: {
		'Content-Type': 'application/json',
	},
});
let nav: Nav | null = null;
try {
	const data = await response.json();
	nav = data;
} catch (error) {
	console.error('Failed to fetch nav:', error);
}
---

<nav>
	<ul class="flex space-x-4 list-none!">
        {nav?.items
            // Only include items where page is an object and slug is not empty and not 'home'
            .filter(item => typeof item.page === "object" && item.page !== null && item.page.slug && item.page.slug !== 'home')
            .map(item => {
                const page = item.page as Page;
                const slug = page.slug;
                const title = page.title;
                // Mark active based on the current URL
                const active = Astro.url.pathname.replace(/^\/|\/$/g, '') === slug.replace(/^\/|\/$/g, '');
                return (
                    <li>
                        <a 
                            href={`/${slug}`} 
                            class={[
                                'text-sm',
                                !active && 'hover:text-purple-400',
                                active ? 'text-purple-300 font-bold' : ''
                            ].join(' ')}
                            aria-current={active ? "page" : undefined}
                        >
                            {title}
                        </a>
                    </li>
                )
            })
        }
    </ul>
</nav>